{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        ring/ring-core {:mvn/version "1.9.0"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        clj-http/clj-http {:mvn/version "3.12.1"}}
 :aliases
 {:dev {:extra-deps {ring/ring-devel {:mvn/version "1.9.0"}
                     ring/ring-jetty-adapter {:mvn/version "1.9.0"}}
        :extra-paths ["dev"]}}}
